* {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: rgba(215, 230, 247, 1) !important;
}

.navbar {
	background-color: rgba(215, 230, 247, 1);
}

#nav-bunnyicon {
	width: 1.5em;
	height: 1.5em;
	margin: 0 1em;
}

h2 {
	font-style: italic;
	padding-top: 50px;
	text-align: center;
}

.table-container {
	width: 66.6%;
	background-color: rgba(215, 230, 247, 1);
	margin: auto;
	padding-top: 2em;
	padding: 4em 2em;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 1em;
}

th {
	text-align: center !important;
}

td {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #b4bccc;
}

tr:nth-child(odd) {
	background-color: #d3d9e6;
}

#minimaal {
	font-style: italic;
	color: #ba5320;
}

#extra {
	font-style: italic;
	color: #ba5320
}

#checklist {
	margin: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0;
}

#nav-item-po {
	background-color: rgba(89, 127, 189, 0.5);
	padding: 0.1em; 
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
	text-decoration: underline;
}

.footer {
	width: 100%;
	background-color: #16202b;
	height: 30rem;
}

#footer-container {
	width: 66.6%;
	margin: auto;
	padding-top: 5em;
	font-size: 1.25em;
}

#footer-container ul {
	display: inline-block;
	margin: 0 1.5em;
	vertical-align: top;
}

#footer-container a {
	font-size: 0.8em;
	display: block;
}

#footer-container p:not(:first-child) {
	font-size: 0.8em;
}

#footer-container p, li {
	color: rgba(255, 255, 255, 0.5);
}