* {
	font-family: 'Lato', sans-serif;
}

.navbar {
	background-color: rgba(215, 230, 247, 1);
}

#nav-bunnyicon {
	width: 1.5em;
	height: 1.5em;
	margin: 0 1em;
}


.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0;
}

#nav-item-po {
	background-color: rgba(89, 127, 189, 0.5);
	padding: 0.1em; 
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
	text-decoration: underline;
}

.header {
	width: 100%;
	background-color: rgba(215, 230, 247, 1);
	height: 60rem;
}

#header-container {
	width: 66.6%; 
	margin: auto;
	padding-top: 4em;
	margin: auto;
	max-height: 60rem;
	margin-right: 0;
}

h1 {
	width: 50%;
	font-size: 4em !important;
}

#subheader {
	width: 50%;
	font-size: 2em;
	border-bottom: solid thin rgb(250, 250, 250);
	padding-bottom: 0.5em;
}

#n-breeds {
	background-color: rgba(128, 176, 255, 0.5);
	transition: all 0.3s ease 0s;
}

#subheader-paragraph {
	width: 50%;
	font-size: 1.5em;
}

.header button {
	width: 50%;
	height: 3em;
	color: rgb(42, 38, 82);
	border: none;
	background-color: rgba(128, 176, 255, 1);
	transition: all 0.3s ease 0s;
}

.header button:hover {
	background-color: rgba(96, 205, 252, 1);
}

.gallery {
	width: 100%;
	background-color: #f7f7f7;
	height: 60rem;
}

#gallery-container {
	width: 66.6%;
	margin: auto;
	padding-top: 6em;
}

#gallery-container h2 {
	text-align: right;
	font-size: 3em;
	color: black;
	margin-right: 0;
}

#gallery-container h3 {
	word-wrap: break-word;
	text-align: right;
	float: right;
	margin-right: 0;
	padding-top: 0.5em;
	width: 50%;
	font-size: 2em;

}

#gallery-container-h3-catchline {
	display: inline-block;
	padding-top: 3.5em;
}

#gallery-container img {
	height: 700px;
	width: 500px;
	margin-top: 0;
}

.breeds {
	width: 100%;
	background-color: #f7f7f7;
	height: 75rem;
	padding-top: 15rem;
}

#breeds-container {
	width: 66.6%;
	margin: auto;
	padding-top: 6em;
}

#breeds-container h2 {
	text-align: left;
	font-size: 3em;
}

#breeds-container h3 {
	padding-top: 0.5em;
	width: 50%;
	font-size: 2em;
}

#breeds-container-h3-catchline {
	display: inline-block;
	padding-top: 3.5em;
}

#breeds-container img {
	height: 700px;
	width: 500px;
	margin-top: 0;
	margin-right: 0;
	float: right;
}

.bunnygreenies {
	width: 100%;
	background-color: rgb(255, 135, 135);
	height: 50rem;
}

#bunnygreenies-container {
	width: 66.6%;
	margin: auto;
	padding-top: 6em;
}

#bunnygreenies-container h2 {
	text-align: center;
	font-size: 3em;
}

#bunnygreenies-container h3 {
	padding-top: 0.5em;
	width: 66.6%;
	font-size: 2em;
	text-align: center;
	margin: auto;
}

#bunnygreenies-container button {
	width: 50%;
	text-align: center;
	margin-left: 25%;
	margin-top: 4em;
}

.footer {
	width: 100%;
	background-color: #16202b;
	height: 30rem;
}

#footer-container {
	width: 66.6%;
	margin: auto;
	padding-top: 5em;
	font-size: 1.25em;
}

#footer-container ul {
	display: inline-block;
	margin: 0 1.5em;
	vertical-align: top;
}

#footer-container a {
	font-size: 0.8em;
	display: block;
}

#footer-container p:not(:first-child) {
	font-size: 0.8em;
}

#footer-container p, li {
	color: rgba(255, 255, 255, 0.5);
}